p {
  font-family: Montserrat, sans-serif;
}

.error {
  color: red;
  font-weight: bold;
}

h1 {
  font-family: Montserrat, sans-serif;
}
.logofont {
  font-size: 48px;
  font-family: Righteous;
  font-weight: normal;
  position: relative;
  top: 16px;
}
.logoquestion {
  color: rgb(243, 178, 0);
  font-size: 48px;
  font-family: Righteous;
  font-weight: normal;
  bottom: -9px;
  position: relative;
}

.wait-indicator {
  display:block;
  margin:auto;
  margin-top: 64px;
  width: 200px;
}

.upload-input {
  
}
.upload-input input{
  border:1px solid blue;
  margin:auto;
  display: block;
  margin-top: 32px;
  margin-bottom: 480px;
}

.main-image {

  margin:auto;
  display: block;
  margin-top: 64px;
  width:300px;
}