.error {
  color: red;
  font-weight: bold;
}

.logofont {
  font-family: Righteous;
  font-weight: normal;
}
.logoquestion {
  font-family: Righteous;
  font-weight: normal;
  margin: -16px 0px 0px 0px;
}

.wait-indicator {
  display:block;
  margin:auto;
  margin-top: 350px;
  width:200px;
}

.upload-input {
  
}
.upload-input input{
  border:1px solid blue;
  margin:auto;
  display: block;
  margin-top: 500px;
}

.main-image {

  margin:auto;
  display: block;
  margin-top: 300px;
  width:300px;
}